
.whole{
    background-color: #fdfff5;
    border-style: solid;
    border-color: black;
    padding: 0%;
    width: 1500px;
    height: 1500px;
    position:fixed;
    
}

.parent{
    text-align: right;
}

.nav{
    background-color:white; 
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    border-style: solid;
    
    border-color: lightgray;
}
.fixed {
    position: fixed;
    top: 10;
    left: 30;
    width: 400px;
    height: 63px;
    padding: 0px;
    margin: 0;
    text-align: center;
    background: rgb(0, 119, 128);
  }
  

 .nav li {
    display:inline-block ;
    font-size: 20px;
    padding: 20px;
    color: black;
}
.footer {
   
    position: fixed;
    left: 10px;
    bottom: 2px;
    width: 1500px;
    background-color:darkgray;
    color: black;
    
    
 } 
 #copy{
    text-align: center
}
.parent1{
    position: relative;
    width: 800px;
    height: 800px;
    background-color:white;
    left: 330px;
}
#port{
    color: rgb(20, 124, 107);
    border-bottom: solid rgba(128, 128, 128, 0.89);
    
    padding: 10px;
    text-align: center;
}
div.gallery1 {
    position: fixed;
    margin: 5px;
    padding:20px;
    width: 200px;
    height: 200px;
    left: 363px;
}
 
  div.gallery2 {
    position: fixed;  
    padding:20px;
  
    top: 185px;
    
    left:620px;
  }
  div.gallery3 {
    position: fixed;  
    padding:20px;
    left:870px;
    top:185px;
    
  }
  div.gallery4 {
    position: fixed;  
    padding:20px;
    left:363px;
    top:420px;
    
  }
  div.gallery5 {
    position: fixed;  
    padding:20px;
    left:620px;
    top:420px;
    
  }
  
  
  div.desc1 {
    position: fixed;
    top:353px;  
    padding:0;
    width:200px;
    height: 50px;
    text-align: center;
    background-color: rgb(0, 119, 128);
    left: 388px;
  }
  div.desc2 {
    position: fixed;
    left:640px;
    top: 353px;
    padding:0;
    width:200px;
    height: 50px;
    text-align: center;
    background-color: rgb(0, 119, 128)
  }
  div.desc3{
    position: fixed;
    top:353px;  
    padding:0;
    width:200px;
    height: 50px;
    text-align: center;
    left:890px;
    background-color: rgb(0, 119, 128)
  }
  div.desc4{
    position: fixed;
    top:587px;  
    padding:0;
    width:200px;
    height: 50px;
    text-align: center;
    left:383px;
    background-color: rgb(0, 119, 128)
  }
  
  div.desc5{
    position: fixed;
    top:587px;  
    padding:0;
    width:200px;
    height: 50px;
    text-align: center;
    left:640px;
    background-color: rgb(0, 119, 128)
  }
  
  
  